*.pyc
node_modules
__pycache__
frontend/build/
llm_app
.idea
.DS_Store/
./frontend/.DS_Store/
./backend/.idea/
./backend/.DS_Store/
./backend/static/
backend/logs/
backend/log/
log/
logs/
.venv
.DS_Store
*.db
.coverage